@font-face {
    font-family: 'TTLakes-Regular';
    src: url("/src/fonts/TTLakes-Regular.ttf");
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url("/src/fonts/TTLakes-Medium.ttf");
}

@font-face {
    font-family: 'TTLakes-Bold';
    src: url("/src/fonts/TTLakes-Bold.ttf");
}