@font-face {
    font-family: 'TTLakes-Regular';
    src: url("/src/fonts/TTLakesRegular.ttf");
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url("/src/fonts/TTLakesMedium.ttf");
}

@font-face {
    font-family: 'TTLakes-Bold';
    src: url("/src/fonts/TTLakesBold.ttf");
}