.header {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: #F8F8F8;

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 18px 16px;
        background-color: #FFFFFF;

        @media only screen and (min-width: 768px) and (max-width: 1119px) {
            padding-left: 24px;
            padding-right: 24px;
        }

        .header__divider-768-1440 {
            display: none; 

            @media only screen and (min-width: 768px) and (max-width: 1119px) {
                display: block;
            }
        }

        .header__btn-call-768-1440 {
            display: none;

            @media only screen and (min-width: 768px) and (max-width: 1119px) {
                display: inline-block;
                margin-left: 30%;
            }
        }

        .header__btn-chat-768-1440 {
            display: none;

            @media only screen and (min-width: 768px) and (max-width: 1119px) {
                display: inline-block;
            }
        }

        .header__btn-profile-768-1440 {
            display: none;

            @media only screen and (min-width: 768px) and (max-width: 1119px) {
                display: inline-block;
            }
        }
    }



    &__hr {
        border: none;
        color: #D9FFF5;
        background-color: #D9FFF5;
        height: 1px;
    }

    &__title {
        font-family: 'TTLakes-Bold';
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        padding: 24px 0px 12px 16px;

        @media only screen and (min-width: 768px) and (max-width: 1119px) {
            padding-bottom: 30px;
            padding-left: 24px;           
        }

        &::before {
            content: url("../img/icon_highlight.svg");
            position: absolute;
            margin-left: -24px;        
        }
    }



}